/**
NAMING CONVENTION:

.block
    .block-element
        .block-element--modifier

SCSS filenaming:
    imported files start with _ (underscore)
 */


//
// USED IN SYMFONY BOOTSTRAP digimonks/symfony-bootstrap/src/Resources/assets/sass/dm.scss
//––––––––––––––––––––––––––––––––––––––––––––––––––

$primaryColor: #f65700 !default;
$bodyBg: #f1f5f8 !default;
// main section.Content wrapper
$contentBackground: #FFFFFF !default;


//
//  FONTS
//––––––––––––––––––––––––––––––––––––––––––––––––––
$fontBaseColor: #606f7b !default;
$fontUrl: 'https://fonts.googleapis.com/css?family=Nunito' !default;
$fontFamily: 'Nunito', sans-serif !default;
$formInputColor: #606f7b !default;
$inputBg: #f1f5f8 !default;
$inputBorderColor: #dae1e7 !default;
$inputFocusBorderColor: #b8c2cc !default;

$defaultLinkColor: #7095b5 !default;

//
//  SIDEBAR MENU
//––––––––––––––––––––––––––––––––––––––––––––––––––
$sidebarWidth: 16rem !default;
$sidebarBgColor: transparent !default;

$sidebarMenuLabelColor: #395e7d !default;
$sidebarMenuLabelHoverColor: darken(#8795a1, 45) !default;
$sidebarMenuLabelHoverBackground: lighten($bodyBg, 5) !default;

$activeMenuLabelBgColor: transparent !default;
$activeMenuLabelColor: $fontBaseColor !default;
$activeMenuIconColor: $primaryColor !default;
$menuHoverIndicatorColor: map-get($dm_colors, blue) !default;

//
//  TABLES
//––––––––––––––––––––––––––––––––––––––––––––––––––
$tableBorderColor: #CCC !default;
$tableStripedBackground: darken($bodyBg, 3) !default;

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
        xs: 576px,
        sm: 768px,
        md: 992px,
        m: 992px,
        lg: 1200px,
        l: 1200px
);
